.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-right ul li {
    display: inline;
    margin-left: 20px;
}

.header-right ul li a {
    text-decoration: none;
    color: #333;
}
